h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}
#gameButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

